<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">
    <title>@ViewBag.Title - Vaccine App</title>
    <link href="~/Content/CSS/bootstrap.css" rel="stylesheet" />
    <link href="~/Fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/Content/CSS/app.css" rel="stylesheet" />
    @RenderSection("Head", false)
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
   
</head>

<body>


    <div class="w3-clear"></div>
    <div class="wrapper">
        @*Sidebar Navegation Start Here*@

        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="@Url.Action("Index", "ManageAccount")">
                    <span class="align-middle">מנהל מערכת </span>
                </a>

                <ul class="sidebar-nav">

                    <li class="sidebar-item active">
                        <a class="sidebar-link fs-4" href="@Url.Action("Index", "ManageAccount")">
                            <i class="fa-solid fa-gauge"></i><span class="align-middle">ראשי</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link fs-4" href="@Url.Action("UserList", "ManageAccount")">
                            <i class="fa-regular fa-users"></i><span class="align-middle">משתמשים</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link fs-4" href="@Url.Action("GetTherapist", "ManageAccount")">
                            <i class="fa-solid fa-user-doctor"></i><span class="align-middle">מטפלים</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link fs-4" href="@Url.Action("VaccineReminder", "ManageAccount")">
                            <i class="fa-sharp fa-solid fa-business-time"></i><span class="align-middle">תזכורת</span>
                        </a>
                    </li>

                    @*<li class="sidebar-item">
                            <a class="sidebar-link fs-4" href="@Url.Action("GetVaccinationRecord", "ManageAccount")">
                                <i class="fa-light fa-person"></i><span class="align-middle">Vaccine Patient</span>
                            </a>
                        </li>*@

                    <li class="sidebar-item">
                        <a class="sidebar-link fs-4" href="@Url.Action("GetVaccine", "ManageAccount")">
                            <i class="fa-solid fa-syringe"></i><span class="align-middle">חיסונים</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link fs-4" href="@Url.Action("GetCity", "ManageAccount")">
                            <i class="fa-solid fa-hospital"></i><span class="align-middle">מרפאות</span>
                        </a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                            <i class="align-middle" data-feather="settings"></i>
                        </a>

                        <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                            &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-file-chart-column fs-4" style="color: rgba(233,236,239,.5);"></i>&nbsp;&nbsp;&nbsp;<span class="fs-4" style="color: rgba(233,236,239,.5);">דוחות</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item fs-4" href="@Url.Action("Report", "ManageAccount")"><i class="fa-solid fa-arrow-trend-up"></i> צפייה בדוחות</a>
                            <a class="dropdown-item fs-4" href="@Url.Action("ReportDownload", "ManageAccount")"><i class="fa-solid fa-chart-user"></i> יצוא דוחות</a>
                            <div class="dropdown-divider"></div>

                        </div>

                      
                    <li class="sidebar-header border-top mt-2 fs-4 text-muted"></li>
                    


                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <li class="sidebar-item">
                        <a class="sidebar-link fs-4" href="@Url.Action("ChangePasswordAdmin", "ManageAccount")">
                            <i class="fa-solid fa-lock"></i><span class="align-middle">שינוי סיסמא</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link fs-4" href="https://localhost:44347/hangfire" target="_blank">
                            <i class="fa-solid fa-server"></i><span class="align-middle">מעקב תזכורות</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link fs-4" href="https://console.twilio.com/us1/monitor/logs/sms?frameUrl=%2Fconsole%2Fsms%2Flogs%3Fx-target-region%3Dus1&currentFrameUrl=%2Fconsole%2Fsms%2Flogs%3F__override_layout__%3Dembed%26bifrost%3Dtrue%26x-target-region%3Dus1" target="_blank">
                            <i class="fa-solid fa-messages"></i><span class="align-middle">מעקב הודעות</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">

                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        @*Top Navegation Start Here*@
                        <li class="nav-item dropdown">
                            <a class="nav-link d-none d-sm-inline-block fs-4" href="#" data-bs-toggle="dropdown">
                                <i class="fa-duotone fa-hands-clapping"></i>&nbsp;<span>שלום!&nbsp;@Session["username"]</span>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link d-none d-sm-inline-block fs-4" href="/ManageAccount/AdminProfile/@Session["id"]">
                                <i class="fa-solid fa-user"></i>&nbsp;
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-none d-sm-inline-block fs-4" href="@Url.Action("LogOff", "Account")">
                                <i class="fa-regular fa-arrow-up-left-from-circle"></i>&nbsp;
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <img src="~/Image/Free_Sample_By_Wix (1).svg"style="height:45px; width:45px " />

                        </li>

                    </ul>
                </div>
            </nav>
            @*Content Area Srart Here*@
        <main class="content">
            <div class="container-fluid p-0">
                @RenderBody()
            </div>
            
        </main>
            @*Footer Section Start*@


            <div class="footer-basic">
                <footer>
                    <div class="social"><a href="mailto:shlomiref1991@gmail.com"><ion-icon name="mail"></ion-icon></a><a href="https://maps.google.com/?q=31.668982891638006, 34.57412589836485" target="_blank"><ion-icon name="map"></ion-icon></a><a href="tel:972503892656"><ion-icon name="call"></ion-icon></a><a href="https://wa.me/972503892656"><ion-icon name="logo-whatsapp"></ion-icon></a></div>
                    <ul class="list-inline">

                        <li class="list-inline-item"><a href="#">קצת עלינו</a></li>
                        <li class="list-inline-item"><a href="@Url.Action("Index", "ManageAccount")">דף הבית</a></li>
                    </ul>
                    <p class="copyright">פרויקט גמר © 2023</p>
                </footer>
            </div>


        </div>
    </div>
    @RenderSection("scripts", false)
    <script src="~/Content/JS/bootstrap.js"></script>
    <script src="~/Content/JS/app.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>


