@model AppForVaccine.Models.PatientModel

@{
    ViewBag.Title = "Vaccination";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="card shadow mb-2 p-5" style=" margin: 0px 50px 0px 350px;
    max-width: 750px;
    max-height: 550px;">

    <h2 class="text-info">הוספת מטופל חדש</h2>
    <hr />

    <div class="row mb-2">
        <div id="msg">

        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content" >
            <div class="page-bar">

            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">

                        <div class="card-body" id="bar-parent">

                            <form action="AddPatient" method="Post" id="form_sample_1" class="form-horizontal" autocomplete="off" novalidate="novalidate">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                                <div class="form-body">
                                    <div class="form-group row">
                                        <label class="control-label col-md-2">
                                            שם פרטי
                                            <span class="required" aria-required="true">  </span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control input-height", placeholder = "הזן את שם המטופל" })
                                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <label class="control-label col-md-2">
                                            שם משפחה
                                            <span class="required" aria-required="true"> </span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-height", placeholder = "הזן את שם המשפחה" })
                                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <label class="control-label col-md-2">
                                            תעודת זהות מטופל
                                            <span class="required" aria-required="true">  </span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(m => m.PatientNumber, new { @class = "form-control input-height", placeholder = "הזן את ת.ז המטופל" })
                                            @Html.ValidationMessageFor(m => m.PatientNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <label class="control-label col-md-2">
                                            מספר פלאפון
                                            <span class="required" aria-required="true">  </span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control input-height", placeholder = "מספר פלאפון" })
                                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <label class="control-label col-md-2">
                                            מרפאה
                                            <span class="required" aria-required="true">  </span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.DropDownList("City", ViewBag.City as SelectList, new { @class = "form-control", @id = "City" })
                                            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <label class="control-label col-md-2">
                                            Email
                                            <span class="required" aria-required="true">  </span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-height", placeholder = "הזן כתובת מייל" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <label class="control-label col-md-2">
                                            כתובת
                                            <span class="required" aria-required="true">  </span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control input-height", placeholder = "הזן כתובת" })
                                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <label class="control-label col-md-2">
                                            תאריך לידה
                                            <span class="required" aria-required="true">  </span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.EditorFor(x => x.Birthday, new { htmlAttributes = new { @class = "form - control input - height", @type = "date" } })
                                            @Html.ValidationMessageFor(x => x.Birthday, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="offset-md-3 col-md-3">
                                                <button type="submit" class="btn btn-info" id="submitData">שמור</button>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
@section scripts{
    <script src="~/Content/JS/jquery-3.6.0.js"></script>
    <script src="~/Content/JS/jquery.validate.js"></script>
    <script src="~/Content/JS/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/JS/jquery.unobtrusive-ajax.js"></script>
    <script>
        $("#form0").attr("enctype", "multipart/form-data")

        function clearAll() {
            $("#form0").trigger("reset");
        }
    </script>

}

<script>
    $(document).ready(function () {
        $('.date').datepicker();
    });

</script>


