@model AppForVaccine.Models.PatientModel

@{
    ViewBag.Title = "Vaccination";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="card shadow mb-2 p-5">

    <h2 class="text-info">Add New Patient</h2>
    <hr />

    <div class="row mb-2">
        <div id="msg">

        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content" style="min-height:1603px">
            <div class="page-bar">

            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">

                        <div class="card-body" id="bar-parent">

                            <form action="AddPatient" method="Post" id="form_sample_1" class="form-horizontal" autocomplete="off" novalidate="novalidate">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                                <div class="form-body">
                                    <div class="form-group row">
                                        <label class="control-label col-md-1">
                                            FirstName
                                            <span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control input-height", placeholder = "enter FirstName" })
                                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <label class="control-label col-md-1">
                                            LastName
                                            <span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-height", placeholder = "enter LastName" })
                                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <label class="control-label col-md-1">
                                            PatientId
                                            <span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(m => m.PatientNumber, new { @class = "form-control input-height", placeholder = "enter PatientId" })
                                            @Html.ValidationMessageFor(m => m.PatientNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <label class="control-label col-md-1">
                                            Phone Number
                                            <span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control input-height", placeholder = "enter Phone Number" })
                                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <label class="control-label col-md-1">
                                            City
                                            <span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.DropDownList("City", ViewBag.City as SelectList, new { @class = "form-control", @id = "City" })
                                            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <label class="control-label col-md-1">
                                            Email
                                            <span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-height", placeholder = "enter email" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <label class="control-label col-md-1">
                                            Address
                                            <span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control input-height", placeholder = "enter address" })
                                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <label class="control-label col-md-1">
                                            DateOfBirth
                                            <span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(x => x.Birthday, new { htmlAttributes = new { @class = "form - control input - height", @type = "date" } })
                                            @Html.ValidationMessageFor(x => x.Birthday, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="offset-md-3 col-md-3">
                                                <button type="submit" class="btn btn-info" id="submitData">Submit</button>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
@section scripts{
    <script src="~/Content/JS/jquery-3.6.0.js"></script>
    <script src="~/Content/JS/jquery.validate.js"></script>
    <script src="~/Content/JS/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/JS/jquery.unobtrusive-ajax.js"></script>
    <script>
        $("#form0").attr("enctype", "multipart/form-data")

        function clearAll() {
            $("#form0").trigger("reset");
        }
    </script>

}



@*<div class="row">
        <div class="col">
            <h2 class="text-info">Add Vacinnation Record User</h2>
            <hr />
            <div class="col-md-12">
                @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "msg", OnComplete = "clearAll" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row mb-2">
                        <div id="msg">

                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-12">
                            @Html.LabelFor(x => x.FirstName, new { @class = "form-label fs-4" })
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control fs-4" })
                            @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12">
                            @Html.LabelFor(x => x.LastName, new { @class = "form-label fs-4" })
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control fs-4" })
                            @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12">
                            @Html.LabelFor(x => x.Phone, new { @class = "form-label fs-4" })
                            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control fs-4" })
                            @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12">
                            @Html.LabelFor(x => x.City, new { @class = "form-label fs-4" })
                            @Html.TextBoxFor(x => x.City, new { @class = "form-control fs-4" })
                            @Html.ValidationMessageFor(x => x.City, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(x => x.Email, new { @class = "form-label fs-4" })
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control fs-4" })
                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            @Html.LabelFor(x => x.Address, new { @class = "form-label fs-4" })
                            @Html.TextBoxFor(x => x.Address, new { @class = "form-control fs-4" })
                            @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.Label("Birthday", new { @class = "form-label fs-4" })
                            @Html.EditorFor(x => x.Birthday, new { htmlAttributes = new { @class = "form-control fs-4", @type = "date" } })
                            @Html.ValidationMessageFor(x => x.Birthday, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 mt-4">
                            <button type="submit" class="btn btn-success btn-lg col-12 mt-4"><i class="fa-regular fa-floppy-disk fs-4"></i> Save</button>
                        </div>
                    </div>
                    }

            </div>
        </div>
    </div>
    @section scripts{
        <script src="~/Content/JS/jquery-3.6.0.js"></script>
        <script src="~/Content/JS/jquery.validate.js"></script>
        <script src="~/Content/JS/jquery.validate.unobtrusive.js"></script>
        <script src="~/Content/JS/jquery.unobtrusive-ajax.js"></script>
        <script>
            $("#form0").attr("enctype", "multipart/form-data")

            function clearAll() {
                $("#form0").trigger("reset");
            }
        </script>*@
<script>
    $(document).ready(function () {
        $('.date').datepicker();
    });

</script>

}
