@model AppForVaccine.Models.ChangesPasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="card shadow mb-2 p-5" style=" margin: 0px 50px 0px 350px;
    max-width: 750px;
    max-height: 700px;">

    <h2 class="text-info">שנה סיסמא</h2>
    <hr />

    <div class="row mb-2">
        <div id="msg">

        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content" >
            <div class="page-bar">

            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">

                        <div class="card-body" id="bar-parent">

                            <form action="ChangePassword" method="Post" id="form_sample_1" class="form-horizontal" autocomplete="off" novalidate="novalidate">
                                @Html.AntiForgeryToken()
                                @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@

                                <div class="form-body">
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">
                                            סיסמא נוכחית
                                            <span class="required" aria-required="true"> </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(m => m.CurrentPassword, new { @class = "form-control input-height", placeholder = "הכנס סיסמא נוכחית" })
                                            @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">
                                           סיסמא חדשה
                                            <span class="required" aria-required="true">  </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control input-height", placeholder = "הכנס סיסמא חדשה" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                   
                                    <br />
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="offset-md-3 col-md-3">
                                                <button type="submit" class="btn btn-info" id="submitData">שמור</button>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
@section scripts{
    <script src="~/Content/JS/jquery-3.6.0.js"></script>
    <script src="~/Content/JS/jquery.validate.js"></script>
    <script src="~/Content/JS/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/JS/jquery.unobtrusive-ajax.js"></script>
    <script>
        $("#form0").attr("enctype", "multipart/form-data")

        function clearAll() {
            $("#form0").trigger("reset");
        }
    </script>

}