@model AppForVaccine.Models.MyUserModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@*<div class="row">
    <div class="col">
        <div class="row g-3">
            <div class="col-md-4">
                <h2 class="text-info">@Model.Name</h2>
            </div>
        </div>
        <hr />
        <div class="col-md-12">
            @using (Html.BeginForm("Edit", "ManageAccount", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(x => x.id)
                @Html.HiddenFor(x => x.Email)

                <div class="row g-3">
                    <div class="col-md-12">
                        @Html.LabelFor(x => x.Name, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Status, new { @class = "form-label fs-4" })
                        @Html.EditorFor(model => model.Status)
                        @Html.ValidationMessageFor(x => x.Status, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.PhoneNumber, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.PhoneNumber, "", new { @class = "text-danger" })
                    </div>


                    <div class="col-md-6 mt-4">
                        <button type="submit" class="btn btn-success btn-lg col-12 mt-4"><i class="fa-solid fa-up fs-4"></i> Update</button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>*@


<div class="card shadow mb-2 p-5">

    <h2 class="text-info">Edit New User</h2>
    <hr />
    
    <div class="row mb-2">
        <div id="msg">

        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content" style="min-height:1603px">
            <div class="page-bar">

            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">

                        <div class="card-body" id="bar-parent">

                            <form action="Edit" method="Post" id="form_sample_1" class="form-horizontal" autocomplete="off" novalidate="novalidate">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                @Html.HiddenFor(x => x.id)
                                @Html.HiddenFor(x => x.Email)
                                <div class="form-body">
                                    <div class="form-group row">
                                        <label class="control-label col-md-1">
                                            Full Name
                                            <span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-height", placeholder = "enter fullname" })
                                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <label class="control-label col-md-1">
                                            Phone Number
                                            <span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control input-height", placeholder = "enter Phone number" })
                                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group row">
                                        <label class="control-label col-md-1">
                                            Email
                                            <span class="required" aria-required="true"> * </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.Status, new { @class = "form-control input-height", placeholder = "statue check" })

                                            @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <br />
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="offset-md-3 col-md-3">
                                                <button type="submit" class="btn btn-info" id="submitData">Submit</button>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
@section scripts{
    <script src="~/Content/JS/jquery-3.6.0.js"></script>
    <script src="~/Content/JS/jquery.validate.js"></script>
    <script src="~/Content/JS/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/JS/jquery.unobtrusive-ajax.js"></script>
    <script>
        $("#form0").attr("enctype", "multipart/form-data")

        function clearAll() {
            $("#form0").trigger("reset");
        }
    </script>

}
