@model AppForVaccine.Models.Patient

@{
    ViewBag.Title = "GetPatient";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>



<link href="~/css/design/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="~/css/design/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="~/css/design/select2/select2.min.css" rel="stylesheet" media="all">
<link href="~/css/design/datepicker/daterangepicker.css" rel="stylesheet" media="all">
<link href="~/css/css/main.css" rel="stylesheet" type="text/css" />


    <div class="font-poppins">
        <form asp-action="GetPatient" enctype="multipart/form-data">

            <h2 class="text-info">פרופיל רפואי</h2>

            <div class="row" >
                
                <div class="col-xl-12">
                    
                    <div class="row">
                        <div class="btn-group" role="group" style="font-size:1.3em; padding-left:6%">
                            <span id="SPAN1"><input type="text" name="patientid" id="textsend" onkeyup="success()" class="btn btn-secondary" style="background-color: whitesmoke; color: black; width: auto; height: 2em; margin-right: 1%; border-radius: 10px; text-align: center; padding-left: 15px; padding-right: 15px; display: inline-flex; align-items: center;" placeholder="ת''ז מטופל" /></span>
                            <button type="submit" id="button" disabled class="btn btn-secondary" style="background-color: steelblue; color: white; width: auto; height: 2em; margin-left: 1%; margin-right: 1%; border-radius: 10px; text-align: center; padding-left: 15px; padding-right: 15px; display: inline-flex; align-items: center; ">חפש</button>
                            <a href="@Url.Action("AddPatient", "ManageAccount")" style="width:2px; height:2px"><i class="fa-solid fa-user-plus"></i></a>
                        </div>
                    </div>
                 
                    <section class="vh-100" style="background-color: #f4f5f7;">
                        <div class="container py-5 h-100">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col col-lg-6 mb-4 mb-lg-0">
                                    <div class="card mb-3" style="border-radius: .5rem;">
                                        <div class="row g-0">
                                            <div class="col-md-4 gradient-custom text-center text-white"
                                                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                                     alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                                                <h5>Marie Horwitz</h5>
                                                <p>Web Designer</p>
                                                <i class="far fa-edit mb-5"></i>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body p-4">
                                                    <h6>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h6>
                                                    <hr class="mt-0 mb-4">
                                                    <div class="row pt-1">
                                                        <div class="col-6 mb-3">
                                                            <h6>Email</h6>
                                                            <p class="text-muted">@Html.DisplayFor(model => model.Email)</p>
                                                        </div>
                                                        <div class="col-6 mb-3">
                                                            <h6>פלאפון</h6>
                                                            <p class="text-muted">@Html.DisplayFor(model => model.Phone)</p>
                                                        </div>
                                                    </div>
                                                    <h6>מידע נוסף</h6>
                                                    <hr class="mt-0 mb-4">
                                                    <div class="row pt-1">
                                                        <div class="col-6 mb-3">
                                                            <h6>תאריך לידה</h6>
                                                            <p class="text-muted">@Html.DisplayFor(model => model.Birthday)</p>
                                                        </div>
                                                        <div class="col-6 mb-3">
                                                            <h6>מרפאה</h6>
                                                            <p class="text-muted">@Html.DisplayFor(model => model.City)</p>
                                                        </div>
                                                        <div class="col-6 mb-3">
                                                            <h6>כתובת</h6>
                                                            <p class="text-muted">@Html.DisplayFor(model => model.Address)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <hr style="color:blue" />
                
                </div>


            </div>


        </form>

    </div>

    <script>
        function success() {
            if (document.getElementById("textsend").value === "") {
                document.getElementById('button').disabled = true;
            } else {
                document.getElementById('button').disabled = false;
            }
        }
    </script>

