@model AppForVaccine.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}



<div class="card shadow mb-2 p-5">
   
    <h2 class="text-info">הוספת משתמש חדש</h2>
    <hr />
   
        <div class="row mb-2">
            <div id="msg">

            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content" style="min-height:1603px">
                <div class="page-bar">

                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card card-box">

                            <div class="card-body" id="bar-parent">

                                <form action="Register" method="Post" id="form_sample_1" class="form-horizontal" autocomplete="off" novalidate="novalidate">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                                    <div class="form-body">
                                        <div class="form-group row">
                                            <label class="control-label col-md-1">
                                                שם מלא
                                                <span class="required" aria-required="true"> </span>
                                            </label>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-height", placeholder = "שם מלא" })
                                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <br />
                                       
                                        <div class="form-group row">
                                            <label class="control-label col-md-1">
                                                Email
                                                <span class="required" aria-required="true"> </span>
                                            </label>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-height", placeholder = " email" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group row">
                                            <label class="control-label col-md-1">
                                                סוג
                                                <span class="required" aria-required="true">  </span>
                                            </label>
                                            <div class="col-md-5">
                                                @Html.EnumDropDownListFor(m => m.UserTypes, new { @class = "form-control input-height", placeholder = "pick user type" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group row">
                                            <label class="control-label col-md-1">
                                                פלאפון
                                                <span class="required" aria-required="true">  </span>
                                            </label>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control input-height", placeholder = "פלאפון" })
                                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group row">
                                            <label class="control-label col-md-1">
                                                סיסמא
                                                <span class="required" aria-required="true">  </span>
                                            </label>
                                            <div class="col-md-5">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-height", placeholder = "סיסמא" })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group row">
                                            <label class="control-label col-md-1">
                                                אימות סיסמא
                                                <span class="required" aria-required="true">  </span>
                                            </label>
                                            <div class="col-md-5">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-height", placeholder = "אימות סיסמא" })
                                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="offset-md-3 col-md-3">
                                                    <button type="submit" class="btn btn-info" id="submitData">שמור</button>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
</div>
@section scripts{
    <script src="~/Content/JS/jquery-3.6.0.js"></script>
    <script src="~/Content/JS/jquery.validate.js"></script>
    <script src="~/Content/JS/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/JS/jquery.unobtrusive-ajax.js"></script>
    <script>
        $("#form0").attr("enctype", "multipart/form-data")

        function clearAll() {
            $("#form0").trigger("reset");
        }
    </script>

}


