@model IEnumerable<AppForVaccine.Models.MyUserModel>

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<br />
<br />

<div class="row">
    <div class="col">
        <h2 class="text-info">רשימת משתמשים</h2>
        <hr />
        <div class="d-flex justify-content-end mb-2">
            <a href="@Url.Action("Register", "ManageAccount")" class="btn btn btn-outline-primary"><i class="fa-regular fa-square-plus fs-1"></i></a>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-bordered table-striped table">
                <thead>
                    <tr>
                        <th>שם</th>
                        <th>סוג המשתמש</th>
                        <th>פעיל/לא פעיל</th>
                        <th>Email</th>
                        <th>פלאפון</th>
                        <th>שינוי</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pdt in Model)
                    {

                        <tr>
                            <td>@Html.DisplayFor(p => pdt.Name)</td>
                            <td>@Html.DisplayFor(p => pdt.UserTypes)</td>
                            <td>@Html.DisplayFor(p => pdt.Status)</td>
                            <td>@Html.DisplayFor(p => pdt.Email)</td>
                            <td>@Html.DisplayFor(p => pdt.PhoneNumber)</td>
                            <td>
                                <a href="@Url.Action("Edit", "ManageAccount", new {id = pdt.id })" class="btn btn-outline-warning btn-sm"><i class="fa-solid fa-pen-to-square fs-4"></i></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
